<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="HomePage">
        <classes>
            <class name="Pages.HomePage"/>
        </classes>
    </test>

</suite>
